* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  background-image: url(../img/1221680.jpg);
  background-attachment: fixed;
}

header .container,
main .container {
  margin-top: 10px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0 20px;
  }
}

/* main table */
.main__table {
  width: 100%;
  background-color: #ccccccde;

  font-size: 8px;
  border: none;
  border-radius: 8px;
}

.main__table_head {
  background: #f3f3f3e3;
}

.main__table th {
  position: relative;
  border: none;
  padding: 2px 4px;
  width: calc(100% / 6 - 20px);
  /* overflow: hidden; */
}

.main__table th button {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;

  font-size: 12px;
  text-align: center;
  vertical-align: middle;

  border-radius: 0;
  border: 1px solid #9c9c9c;
  outline: none;

  cursor: pointer;
}

.main__table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}
.main__table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.main__table tbody td {
  cursor: pointer;

  font-size: 8px;
  font-weight: 400;
  text-align: center;

  border: none;

  padding: 2px 2px;
}

.main__table tbody tr:nth-child(even) {
  background: #f3f3f38c;
}
.main__table th:first-child,
.main__table td:first-child {
  border-radius: 8px 0 0 8px;
}
.main__table th:last-child,
.main__table td:last-child {
  border-radius: 0 8px 8px 0;
}

@media screen and (min-width: 640px) {
}
@media screen and (min-width: 1024px) {
  .main__table {
    font-size: 16px;
  }

  .main__table th {
    padding: 10px 15px;
    font-size: 18px;
  }

  .main__table th button {
    font-size: 20px;
  }

  .main__table thead tr th:first-child {
    width: 30%;
  }
  .main__table thead tr th:last-child {
    width: 14%;
  }
  .main__table tbody td {
    padding: 2px 15px;
    font-size: 14px;
  }
}
/* buttons  list */
.buttons__list {
  display: flex;
  flex-wrap: wrap;

  margin: -10px;
}

.buttons__item {
  flex-basis: calc((100% - 2 * 20px) / 2);

  margin: 10px;
}

@media screen and (min-width: 640px) {
  .buttons__item {
    flex-basis: calc((100% - 3 * 20px) / 3);
  }
}

@media screen and (min-width: 1024px) {
  .buttons__list {
  }
  .buttons__item {
    flex-basis: calc((100% - 6 * 20px) / 6);
  }
}

button.btn {
  min-width: 120px;
  width: 100%;
  height: 100%;

  cursor: pointer;

  font-weight: 700;
  color: #cccccc;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);

  padding: 10px 20px;
  outline: none;

  border-radius: 8px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86))
    rgb(110, 112, 120);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);

  transition: 0.2s ease-in-out;
}

button.btn:hover:not(:active) {
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
}

button.btn.active {
  top: 1px;
  background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}

.backdrop {
  position: fixed;

  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.6);

  opacity: 1;
  transform: scale(1);

  transition: opacity 250ms ease-in-out, transform 250ms ease;
}

.hidden {
  display: block;
  visibility: hidden;
  overflow: hidden;

  opacity: 0;
  transform: scale(0);

  pointer-events: painted;

  height: 0;
  width: 0;
}

/* modal window */
.modal {
  position: absolute;

  width: 280px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background: #cccccc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;

  text-align: center;
}

.modal__closed {
  position: absolute;

  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  padding: 0;

  cursor: pointer;

  transition: background-color 250ms ease-in-out;
}

.modal__closed::before,
.modal__closed::after {
  content: "";

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  width: 14px;
  height: 1.5px;
  background-color: #000000;

  transition: background-color 250ms ease-in-out;
}

.modal__closed::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__closed:hover {
  background-color: #525252;
}

.modal__closed:hover:before,
.modal__closed:hover:after {
  background-color: #ffffffb4;
}
@media screen and (min-width: 640px) {
  .modal {
    width: 450px;
  }
}

/* favorites */

.favorites__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  align-items: stretch;

  margin: -10px;
}

.favorites__item {
  text-align: center;
  font-size: 12px;

  background-color: #ffffff62;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding: 0 0 10px;

  margin: 5px;
  flex-basis: calc((320px - 2 * 20px) / 2);
  overflow: hidden;
}
.favorites__item div {
  background: #525252a6;
  margin: 0 0 10px;
}

.favorites__img {
  display: block;
  height: 200px;
  width: 150px;
  object-fit: cover;
  overflow: hidden;
}

.favorites__name {
  white-space: nowrap;
  margin: 0 0 10px;
}

button.favorites__btn {
  width: 80px;
  height: 50px;
}

@media screen and (min-width: 640px) {
  .favorites__list {
    margin: -15px;
  }
  
  .favorites__item {
    margin: 15px;
    flex-basis: calc((640px - 3 * 30px) / 3);
  }

  .favorites__img {
    height: 240px;
    width: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .favorites__list {
    margin: -15px;
  }
  
  .favorites__item {
    margin: 15px;
    flex-basis: calc((1024px - 4 * 30px) / 4);
  }

  .favorites__img {
    height: 310px;
    width: 230px;
  }
}
